.geology-btn {
    -fx-font: 18px "Trebuchet MS";
    -fx-text-fill: white;
    -fx-background-color: #CC7722;
    -fx-effect: innershadow( three-pass-box , #27496d , 2, 0, 0, 0);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.chart-symbol { -fx-background-radius: 2px;  -fx-background-color: #a9e2D0;}

